.grid-container {
    display: grid;
    border: 2px solid black;
    background-color: lightblue;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    margin: 5%;
}

button {
    border: none;
    padding: 15px 32px;
}

button:hover {
    background-color: darkgrey;
}

h1 {
    text-align: center;
    font-size: x-large;
}